nav > ul > li{
    display:inline;
    margin-right:10px;
}
nav li>a{
    text-decoration: none;
    color:red;
    font-size:26px;
}
nav > ul{
    text-align:center;
}
b{
    font-size:30px;
}

footer {
    margin-top:30px;
    text-align:center;
}
label{
    display:block;
    margin-top:15px;
}
fieldset{
    margin-top:20px;
}